@model APP.Models.DirectorResponse

@{
    ViewData["Title"] = "Director Details";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>
    <hr />
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRetiredF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRetiredF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieNames)
        </dt>
        <dd class="col-sm-10">
            @if (string.IsNullOrWhiteSpace(Model.MovieNames))
            {
                <span>-</span>
            }
            else
            {
                @Html.DisplayFor(model => model.MovieNames)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

